<div class="clonee">
    
    <div class="field">
        <label for="list_items">Line Item</label>
        <div>
            <textarea name="card[list_items][0]" id="list_item_0"></textarea>
        </div>
    </div>
</div>
<div class="list_items">
    <button>clone</button>
</div>

<%= javascript_tag do %>
  $("button").click(function(){
    
  })
<% end %>
